.example-container{
  padding: 20px;
}
.hide{
  display: none;
}
mat-footer-row mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

table {
  width: 100%;
}

div{
    display:block;
}

.p-8 {
  padding: 8px;
}