<!-- <mat-tab-group >
  <mat-tab label="Add Bills"> 
    <app-add-bill></app-add-bill>
  </mat-tab>
  <mat-tab label="Bill History"> 
    <app-manage-bills></app-manage-bills>
  </mat-tab>
  <mat-tab label="Payments"> 
    <app-client-payments></app-client-payments>
  </mat-tab>
  <mat-tab label="Total Payments"> 
    <app-payments></app-payments>
  </mat-tab>
  <mat-tab label="Add Clients"> 
    <app-create-form></app-create-form>
   </mat-tab>
   <mat-tab label="Manage Clients"> 
    <app-search-form></app-search-form>
  </mat-tab>
  <mat-tab label="Add Product"> 
    <app-add-product></app-add-product>
  </mat-tab>
  <mat-tab label="Manage Product"> 
    <app-manage-product></app-manage-product>
  </mat-tab>
  <mat-tab label="Settings"> 
    <app-setting></app-setting>
  </mat-tab>
</mat-tab-group> -->

<app-nav-bar></app-nav-bar>